h3{
    color: red;
}
/* 
#heading1{
    color: chartreuse;
    background-color: aliceblue;
} */

/* .headings{
    color: blanchedalmond;
    background-color: black;
    font: 20px;
} */

/* h5,article,figure{
    color: cadetblue;
    background-color: blueviolet;
    font-size: 50px;
} */
